<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="RaionReminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><userSettings>
        <RaionReminder.Properties.Settings>
			<setting name="AutoExcludeCanceledCivil" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="bsrBase" serializeAs="String">
				<value>GAS</value>
			</setting>
			<setting name="bsrPass" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="BSRURL" serializeAs="String">
				<value>http://192.168.0.254:8079/</value>
			</setting>
			<setting name="bsrUser" serializeAs="String">
				<value>BSR</value>
			</setting>
			<setting name="DenyMode" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="DenyOnlyInBSR" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="exclBase" serializeAs="String">
				<value>!#EXCLBASE#!</value>
			</setting>
			<setting name="exclPass" serializeAs="String">
				<value>!#EXCLPASS#!</value>
			</setting>
			<setting name="exclUser" serializeAs="String">
				<value>!#EXCLUSER#!</value>
			</setting>
			<setting name="FirstAdmAfterConsideration" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="FirstGrAfterConsideration" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="FirstLaunch" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="JudgeGroups" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="LaunchMinimized" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="MainWindowHeight" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="MainWindowWidth" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="MainWindowX" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="MainWindowY" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="pub_days" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="scan_days" serializeAs="String">
				<value>180</value>
			</setting>
			<setting name="sdpBase" serializeAs="String">
				<value>192.168.0.254:C:\DATA\JUSTICE\UNI_WORK2003.GDB</value>
			</setting>
			<setting name="sdpPass" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="sdpUser" serializeAs="String">
				<value>SYSDBA</value>
			</setting>
			<setting name="ShowCanceledCivil" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ShowDaysAfterConsideration" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="useLocalSettings" serializeAs="String">
				<value>False</value>
			</setting>
		</RaionReminder.Properties.Settings>
    </userSettings>
</configuration>
